@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background: #780116ff;
    --primary: #db7c26ff;
    --secondary: #c32f27ff;
    --btn-bg:  #d8572aff;
    --bg-orange: #c32f27ff;
    --bg-white: white;
    --nav-bg: black;

    /* Color de texto */
    --text-home: #ff9505ff;
    --text-white: #ffedd8ff;

}
/* Siempre se colocan los margin 0 padding 0 y box-sizing:border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: linear-gradient(to right, #ff4b1f, #ff9068);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.logo {
    height: 150%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.navbar {
    gap: 150px;
}

.navbar-list {
    gap:30px
}

.navbar-list a {
    color: var(--text-white);
    font-size: 14px;
}

.navbar-list li:first-child > a {
    color: var(--bg-white);
    font-weight: 600;
}

main{
    background:  linear-gradient(to right, #22c1c3, #fdbb2d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 100%;

}

#travel {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.travel-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: #f2fcfe;
}

.travel-info p {
    font-size: 14px;
    width: 70%;
    color:var(--text-white)
}

.travel-info span{
    font-weight: 900;
    
}

.travel-info a {
    color: var(--text-white);
    background-color: var(--btn-bg);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.travel-im {
    width: 500px;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
/* travel-im-top es lo que tiene el texto de laguna verde */
.travel-im-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.travel-im-top h3 {
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 10px;
}
.travel-im-top span {
    background-color: #ff9505ff;
    width: 5px 0px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    
}
.travel-im-bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.travel-im-previaje {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    
}
.travel-im-previaje img {
    height: 30px;
    width: 60px;
}
.detalle-previaje p {
    color: black;
    font-size: 15px;
    font-weight: 700;
    gap: 40px
}

.text-inf {
    display: flex;
    justify-content: center;
    width: 850px;
    height: 250px;
    background: linear-gradient(to right, #e65c00, #f9d423);
    border-radius: 30px;
    flex-direction: column;
    padding: 20px

}
.text-inf h4 {
    font-size: 40px;
    width: 60%;
    min-width: 400px;
    font-weight: 500;
}
.text-inf p{
    font-size: 20px;
}

/* Roto */
#masviajes {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   
  
    
}
#masviajes h3 {
    font-size: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    
}

.masviajes-1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   gap: 60px;
}

.masviajes-1 img {
    width: 400px;
}
.masviajes-1-arg [
    max-width: 1200px;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    gap: 40px;
]

.masviajes-1-arg h4 {
    font-size: 30px;
    font-weight: 300;

}
.masviajes-1-arg p{
    background: #e684ae;
    width: 5px 0px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
}

#card {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

#card h4 {
    font-size: 50px;
    width: 50%;
    min-width: 400px;
    font-weight: 600;

}

#card p {
    font-size: 20px;
    width: 70%;
    min-width:fit-content;
    font-weight: 100;
    text-align: center;
}

.card-benef {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.card-benef-info {
    width: 300px;
    height: 370px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #e65c00;
    border-radius: 1rem;
    gap: 10px;
    
}
.card-benef-info img {
    width: 100px;
}

.card-benef-info h3 {
    font-weight: 500;
    font-size: 30px;
}
.card-benef-info p {
    font-weight: 300;
    font-size: 20px;
}
#contact {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}
#contact h3 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
#contact p {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.contact1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.contact1-inf {
    width: 300px;
    height: 300px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
    border-radius: 1rem;
    gap: 10px;
}

.contact1-inf img {
    width: 100px;
}



